@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.footer {
    @extend %container;
    padding-bottom: 24px;
    position: relative;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        gap: 8px;
    }

    @media screen and (min-width: 768px) {
        gap: 10px;
    }
}

.footer__image {
    position: absolute;
    width: 160px;
    height: 160px;
    left: -80px;
    top: -80px;
   
    @media screen and (min-width: 768px) {
        width: 200px;
        height: 200px;
        left: 30px;
        top: -120px;
    }

    @media screen and (min-width: 1280px) {
        width: 300px;
        height: 300px;
        left: 90px;
        top: -200px;
    }

    @media screen and (min-width: 1440px) { 
        left: 30px;
        top: -340px;
        width: 400px;
        height: 400px;
    }
}

.copyright {
    @include text(400, 12px, 14px);
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1280px) {
        @include text(400, 16px, 19px);
    }
}